:root {
  font-size: 20px;
  --slidev-code-font-size: 16px;
  --slidev-code-line-height: 1.2em;
  --slidev-code-margin: 0;
  --slidev-code-background: white;
  --brand-color-1: #2d79c7;
  --brand-color-2: #c72d79;
}

:root.dark {
  --slidev-code-background: #0f111a;
  --slidev-slide-content-background: #0f111a;
  --brand-color-1: #7dc9e8;
  --brand-color-2: #bb89dc;
  --brand-color-3: #f78c6c;
  --brand-color-4: #c3e88d;
  --brand-color-5: #ffcb6b;
  --brand-color-6: #babed8;
  .slidev-slide-container .slidev-slide-content .slidev-page {
    background-color: var(--slidev-slide-content-background);
  }
}



.slidev-layout {
  h1 {
    font-weight: 800;
    font-size: 2rem;
  }

  a {
    font-size: 0.8rem;
    color: #82aaff;
  }

  li {
    line-height: 1.5em;
    margin-bottom: 0.3rem;
    list-style-type: disc;
  }

  li::marker {
    color: var(--brand-color-1);
  }
  ol {
    li::marker {
      color: var(--brand-color-3);
    }
  }

  h1 + p {
    opacity: 0.8;
  }

  &.cover h1 + p {
    opacity: 1;
    font-size: 1.6rem;
  }

  &.section {
    h1 + p {
      font-size: 1.75rem;
    }

    h1 {
      font-size: 2.75rem;
    }
  }

  code {
    color: #eee;
  }

  .slidev-code .slidev-code-dishonored {
    opacity: 0.5;
  }
  .shiki .line, .shiki-magic-move-item {
    font-weight: 700;
  }
}

.reference {
  margin-block: 1rem;
}

.reference p {
  margin: 0;
}

.error-output {
  color: #ff4545;
  background-color: black;
  margin-block: 8px;
  font-weight: 600;
}

.twoslash .twoslash-meta-line.twoslash-error-line {
  width: 100%;
  text-wrap-mode: wrap;
  font-weight: 600;
}

.brand-accent-color {
  color: var(--brand-color-3);
  font-weight: 600;
}

.card {
  border: 2pt solid var(--card-color, var(--brand-color-1));
  background-color: rgb(from var(--card-color, var(--brand-color-1)) r g b / 10%);
  border-radius: 0.5em;
  padding: 0.3em 0.5em;

  .card-header {
    font-weight: 700;
  }

  .card-body {
    font-size: 1rem;
  }
}

.fill-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bg-image-gradient-right {
  background-image: linear-gradient(to right, var(--slidev-slide-content-background) 25%, rgba(0,0,0,0)), var(--slide-background-image);
  background-size: cover;
}